body{
    margin: 0;
}
.container{
    display: grid;
    height: 100%;
    grid-template-columns: 168px auto;
    grid-template-rows: 80px auto;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color : #f6f6f6;
}
#wikiicon{
    height: 160px;
    width: 160px;
}
.menu{
    grid-column: 2/3;
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto auto auto;
    justify-content: flex-end;
    background-color : #f6f6f6;
    padding-top: 20px;
    padding-right: 20px;
}
.not{
    grid-column: 2/3;
    color: #54595d;   
    font-family: Helvetica;
    font-size: 0.75em;

}
.talk{
    grid-column: 3/4;
    color: #0645ad;
    font-family: Helvetica;
    font-size: 0.75em;

}
.contri{
    grid-column: 4/5;
    color: #0645ad;
    font-family: Helvetica;
    font-size: 0.75em;

}
.create{
    grid-column: 5/6;
    color: #0645ad;
    font-family: Helvetica;
    font-size: 0.75em;
}
.log{
    grid-column: 6/7;
    color: #0645ad;
    font-family: Helvetica;  
    font-size: 0.75em;
}
.main{
    display: grid;
    grid-template-rows: 40px 30px auto auto;
    grid-template-columns: auto auto;
    background-color: white;
    border-left: 1px #a7d7f9 solid;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    padding: 10px 20px;
}
.dlsu{
    grid-row: 1/2;
    grid-column: 1/3;
    border-bottom: 1px solid #a2a9b1;
    font-size: 1.8em;
    color: black;
    height:40px;
    font-family: serif;
}
.from{
    grid-row: 2/3;
    grid-column: 1/3;
}
.mainText{
    grid-row: 3/4;
    line-height: 1.6em;
    font-family: sans-serif;
    font-size: 1em;
    color: #202122;

}
#dlsunamebold{
    font-weight: 1000;
    font-family: sans-serif;
    font-size: 1em;
    color: #202122;
}

.blue{
    color:#0645ad;
    line-height: 1.6em;
    font-family: sans-serif;
    font-size: 1em;
    color: #0645ad;
}
.bold{
    font-weight: 1000;
}
.leftbox{
    background-color: #f8f9fa;
    border: 1px solid #a2a9b1;
    line-height: 1.6em;
    font-family: sans-serif;
    padding: 10px;
    display: grid;
    grid-template-rows: 190px 55px 55px 55px 55px auto;
    grid-template-columns: auto auto;
    grid-column-gap: 30px;
    margin-top: 55px;
}
#dlsuLogo{
    height: 175px;
    width: 175px;
    grid-column: 1/3;
    padding: 5px 60px; 
}
.formername{
    grid-row: 2/3;
    grid-column: 1/2;
    font-weight: 1000;
    font-size: 88%;
}
.formername2{
    grid-row: 2/3;
    grid-column: 2/3;
    font-size: 88%;
    color: black;

}
.motto{
    grid-row: 3/4;
    grid-column: 1/2;
    font-weight: 1000;
    font-size: 88%;

}
.motto2{
    grid-row: 3/4;
    grid-column: 2/3;
    font-size: 88%;
    color: black;
}
.mottoE{
    grid-row: 4/5;
    grid-column: 1/2;
    font-weight: 1000;
    font-size: 88%;
}
.mottoE2{
    grid-row: 4/5;
    grid-column: 2/3;
    font-size: 88%;
    color: black;
}
.type{
    grid-row: 5/6;
    grid-column: 1/2;
    font-weight: 1000;
    font-size: 88%;
}
.type2{
    grid-row: 5/6;
    grid-column: 2/3;
    font-size: 88%;
    color: #0645ad;
}       